@import "reset";

html,body{ height: 100%; overflow: hidden; }
.naver{ width: 100%; height: 60px; position: relative; background-color: #47475c; .cf();
  .back { float: left; width: 10%; height: 60px; line-height: 60px; cursor: pointer; position: relative; .cf();
    i{ float: left; height: 60px; color: #fff; font-size: 30px; padding: 0 0 0 10px; }
    span{ float: left; height: 60px; line-height: 65px; color: #fff; font-size: 16px; }
  }
  .back:hover{
    i{ color: #90ef7f; }
    span{ color: #90ef7f; }
  }
  h3{ float: left; width: 66%; height: 60px; line-height: 60px; text-align: center; color: #fff; font-weight: normal; }
  .left-sidebar{ float: left; width: 66%; height: 60px; position: relative; text-align: center;
      .nav{ display: inline-block; margin-bottom: 0; padding-left: 0; position: relative; .cf();
        li{ float: left; width: 100px; position: relative; cursor: pointer;
          div{ width: 95%; margin-right: 5%; height: 60px;  cursor: pointer; position: relative; .cf();
            icon{ float: left; width: 100%; height: 30px; line-height: 40px; text-align: center; font-size: 20px; color: #fff; }
            span{ float: left; width: 100%; height: 30px; line-height: 30px;  text-align: center; color: #fff; text-transform: uppercase; .omit(); }
          }

          .nav-sidebar{ display: none; position: absolute; width: 400px; padding: 10px 0 10px 10px; left: 0; top: 60px; background-color: #565669; .cf(); z-index: 99;
            li{ float: left; width: 90px; margin: 0 10px 10px 0;
              em{ display: inline-block; width: 90px; height: 60px; background-size: contain; }
              a{ display: inline-block; width: 90px; height: 20px; line-height: 20px; color: #cad5e7; font-size: 12px; text-align: center; .omit(); }
            }
            li:hover{
              a{ color: #90ef7f; }
             }
          }
        }
        li:hover{
          div{ background-color: #565669;}
          .nav-sidebar{ display: block; }
        }
      }
  }
  .oper{ float: right; width: 24%; height: 60px; text-align: right;
    ul{ margin-right: 20px; display: inline-block; position: relative; .cf();
      li{ float: left; margin: 0 10px;
        a{ display: block; position: relative; .cf();
          i{ float: left; height: 60px; line-height: 60px; color: #20b0c2; font-size: 20px; margin-right: 5px; }
          span{ float: left; height: 60px; line-height: 65px; color: #fff; font-size: 14px; }
        }
        a:hover{
          i{ color: #90ef7f; }
          span{ color: #90ef7f; }
        }
      }
    }
  }
}
.container{ width: 100%; position: relative; .cf();
  div.r-show{ margin-right: 0;}
  div.has-margin{ margin-right: 300px; }
  .content{ position: relative; margin-right: 0; .trs(); overflow: scroll;
    .main-content{ width: 1200px; height: 1200px; background-color: #eee; }
  }
  .right-silder{ float: right; width: 399px; border-left: 1px solid #999; margin-right: -400px; .trs();
    .r-title{ height: 39px; border-bottom: 1px solid #ccc;
      ul{ position: relative; background-color: #565669; .cf();
        li:first-child{ border-right: 1px solid #ccc; }
        li{ float: left; width: 199px; height: 39px; line-height: 39px; text-align: center; font-size: 14px; cursor: pointer; color: #fff; }
        li.active{ background-color: #eee; color: #333;  }
        li:hover{ color: #90ef7f; }
      }
    }
    .r-container{ width: 399px; position: relative; overflow-y: scroll;
      .c-ul{ padding: 10px;
        .c-item{ position: relative; display: none;
          .r-item{ margin-bottom: 10px; position: relative; .cf();
            span{ float: left; width: 80px; height: 40px; line-height: 40px; }
            .r-part{ float: left; padding: 5px 0;
              input{ height: 14px; padding: 6px; }
              input[type='text'],input[type='number']{ width: 200px; }
              input[type='color']{ width: 120px; }
              select{ height: 30px; padding: 5px 0; }
              textarea{ width: 360px; padding: 10px; box-sizing: border-box; min-height: 400px; }
            }
            div.spec{ margin-left: 0; }
            .r-ul{ width: 360px; position: relative; border-left: 1px solid #ccc; border-top: 1px solid #ccc;
              .r-li{ width: 360px; height: 30px; position: relative; .cf();
                .a-item{ float: left; width: 89px; height: 30px; line-height: 30px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; position: relative; .cf();
                  span{ display: inline-block; width: 85px; padding: 0 2px; height: 30px; line-height: 30px; .omit();  }
                  input{ display: none; width: 81px; height: 14px; line-height: 14px; padding: 8px 4px; border: none; }
                  a{ display: inline-block; margin: 0 1px; height: 30px; line-height: 30px; text-align: center; }
                  a:hover{ text-decoration: underline; }
                  a.a-save{ display: none; color: #41da81; }
                  a.a-edit{ color: #09f; }
                  a.a-dele{ color: #bd2c00; }
                  a.a-use{ color: #f95656; }
                }
              }
              .r-add{ width: 359px; height: 30px; line-height: 30px; text-align: center; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; cursor: pointer; }
              .r-add:hover{ background-color: #f1f1f1; color: #09f; }
            }
          }
        }
      }
    }
    .save-btn{ width: 100%; height: 40px; line-height: 40px; text-align: center; background-color: #7c82ff; color: #fff; font-size: 14px; cursor: pointer; }
    .save-btn:hover{ background-color: #90ef7f; color: #333; }
  }
}

#drag-temp{ display: none; width: 200px; height: 200px; position: absolute; left: 0; top: 0; border: 2px dashed #f95656; z-index: 99999999; }
#chart-temp,.chart-temp{ width: 600px; height: 400px; position: absolute; left: 0; top: 0;
  .edit-btn{ position: absolute; right: 35px; top: -35px; cursor: pointer;
    i{ font-size: 31px; color: #565669; }
  }
  .edit-btn:hover{
    i{ color: #20b0c2; }
  }
  .dele-btn{ position: absolute; right: 0; top: -31px; cursor: pointer;
    i{ font-size: 29px; color: #565669; }
  }
  .dele-btn:hover{
    i{ color: #bd2c00; }
  }
  .bar{ position: absolute; }
  .top-bar{ left: 0; top: 0; width: 100%; height: 5px; background-color: #ccc; cursor: n-resize; }
  .right-bar{ right: 0; top: 0; width: 5px; height: 100%; background-color: #ccc; cursor: e-resize; }
  .bottom-bar{ left: 0; bottom: 0; width: 100%; height: 5px; background-color: #ccc; cursor: s-resize; }
  .left-bar{ left: 0; top: 0; width: 5px; height: 100%; background-color: #ccc; cursor: w-resize; }
  .chart-con{ position: absolute; left: 5px; top: 5px; width: 590px; height: 390px; cursor: move; }
}




